%% -*- mode: erlang -*-
{erl_opts, [debug_info]}.
{validate_app_modules, true}.

{deps,
  [ {emqtt, {git, "https://github.com/emqx/emqtt", {tag, "1.13.5"}}}
  , {gproc, "0.9.1"}
  , {lee, {git, "https://github.com/k32/lee", {tag, "0.5.0"}}}
  , {snabbkaffe, {git, "https://github.com/kafka4beam/snabbkaffe", {tag, "1.0.10"}}}
  , {prometheus, {git, "https://github.com/deadtrickster/prometheus.erl", {tag, "v4.8.2"}}}
  , hackney
  , {cowboy,     "2.9.0"}
  , {jsone,      "1.7.0"}

  , {system_monitor, {git, "https://github.com/ieQu1/system_monitor.git", {tag, "3.0.3"}}}
  ]}.

{escript_name, emqttb}.
{escript_main_app, emqttb}.
{escript_include_apps, [kernel, emqttb, system_monitor]}.
{escript_emu_args, "%%! -smp true +K true +a16 +P16000000 +Q134217727 +Muacnl 0 +hms 64 -env ERL_MAX_PORTS 16000000 -env ERTS_MAX_PORTS 16000000\n"}.
{escript_shebang, "#!/usr/bin/env escript\n"}.
{provider_hooks, [{post, [{compile, escriptize}]}]}.
{post_hooks, [{"(linux|darwin|solaris|freebsd|netbsd|openbsd)",
               escriptize,
               "bash -c '                                                                           "
               "     for nifso in ${REBAR_DEPS_DIR}/quicer/priv/libquicer_nif.so                    "
               "                  ${REBAR_CHECKOUTS_OUT_DIR}/quicer/priv/libquicer_nif.so;          "
               "     do [ -f $nifso ] && cp $nifso ${REBAR_BUILD_DIR}/bin/;                         "
               "     done;                                                                          "
               "     rm ./emqttb ./libquicer_nif.so;                                                "
               "     ln -s \"${REBAR_BUILD_DIR}/rel/emqttb/bin/emqttb\" ./emqttb;                   "
               "     ln -s \"${REBAR_BUILD_DIR}/bin/libquicer_nif.so\" ./libquicer_nif.so;          "
               "     '                                                                              "
              },
              {"win32",
               escriptize,
               "robocopy \"%REBAR_BUILD_DIR%/bin/\" ./ emqttb* "
               "/njs /njh /nfl /ndl & exit /b 0"} % silence things
             ]}.

{ct_readable, false}.

{xref_checks,[undefined_function_calls,undefined_functions,locals_not_used,
              deprecated_function_calls,
              deprecated_functions]}.

{dialyzer, [
    {plt_apps, all_apps},
    {extra_plt_apps, [lee, typerefl, ssl, stdlib]},
    {statistics, true}
]}.
